.chat-main
  .main-header
    .main-header__left-box
      .main-header__left-box__current-group
        テストグループ
      .main-header__left-box__member-list
        Member:
        .main-header__left-box__member-list__member
          JasmineT
    .main-header__edit-btn
      Edit

  .messages
    .messages__message
      .messages__message__upper-info
        .messages__message__upper-info__talker
          あああ
        .messages__message__upper-info__date
          2019/11/18(Mon)20:04:17
      .messages__message__text
        JasmineT
    .messages__message
      .messages__message__upper-info
        .messages__message__upper-info__talker
          JasmineT
        .messages__message__upper-info__date
          2019/11/18(Mon)20:04:17
      .messages__message__text
        いいい

  .form
    .form__new-message
      .form__new-message__input-box
        %input.form__new-message__input-box__text{placeholder: "type a message", type: "text", value: "", style:"width:100%"}
        %label{class: "form__new-message__input-box__image"}
          = icon('far fa-image', 'image')
          %input{type: "file"}
      %input.form__new-message__submit-btn{type: "submit", value: "Send"}







