.chat-side
  .side-header
    .side-header__box
      .side-header__box__user-name
        JasmineT
      .side-header__box__menu
        =link_to "#", class: "side-header__box__menu__new-group" do
          = icon('fa fa-edit', 'edit-square')
          %span<>
        =link_to "#", class: "side-header__box__menu__edit-user" do
          = icon('fa fa-cog', 'cog-square')
          %span<>

  .groups
    .groups__group
      .groups__group__group-name
        テストグループ
      .groups__group__latest-message
        いいい
    .groups__group
      .groups__group__group-name
        違うグループ
      .groups__group__latest-message
        いいい